{% extends 'base/base.html' %}

{% block title %}
    处理举报投诉信息
{% endblock %}

{% block css %}
  <style>
    #msg_info{
        font-size: 1.2em;
    }
       #msg_info ul{
           list-style: none;
           border: 1px solid lightgray;
           padding: 5px;
           border-radius: 5px;
       }

       #msg_info li{
           padding: 10px;
           margin: 5px;
           height: 320px;
           background-color: white;
       }

       #msg_info li:hover{
           background-color: lightcyan;
           border-radius: 5px;
       }

      #msg_info ul::after{
          content: "";
          display: block;
          overflow: auto;
          clear: both;
          height: 0;
          visibility: hidden;
      }
    .bottom {
        position: absolute;
        bottom: 20px;
    }
    .box{
        border: 1px solid lightblue;
        width: 100%;
        height: 240px;
        overflow: scroll;
        padding: 5px;
    }

  dt,dd{
      padding: 5px;
      font-size: 15px;
  }
  .contenttitle3{
      position: absolute;
      {#top: 100px;#}
      left: 300px;
  }

  .contenttitle2:hover {
      background-color: #eaf3fc;
  }
  .contenttitle3:hover {
      background-color: #eaf3fc;
  }
  </style>
{% endblock %}

{% block content %}

    <div class="centercontent tables">

        <div class="pageheader notab">
            <h1 class="pagetitle">当前位置：举报投诉信息处理</h1>
            <span class="pagedesc">处理举报投诉和查看详细处理结果</span>

        </div><!--pageheader-->

        <div style="margin: 10px" id="msg_info">
            <div class="contenttitle2">
                <h3>待处理-{{ complaint_all|length }}条记录</h3>
            </div><!--contenttitle-->
             <div class="contenttitle3">
                <h3><a href="/select_all_complaint/">查看投诉处理结果</a></h3>
            </div>
            <ul>
                {% for complaint in complaint_all %}
                     <li>
                        <dl>
                            {% if complaint.source.comm_name %}
                                <dt><b>投诉新房小区名：<span>{{ complaint.source.comm_name }}</span></b>
                                    <i>&emsp;&emsp;投诉日期：{{ complaint.date|date:"Y-m-d H:i:s" }}</i>
                                </dt>
                            {% elif complaint.source2.comm_name %}
                                <dt><b>投诉二手房小区名：<span>{{ complaint.source2.comm_name }}</span></b>
                                    <i>&emsp;&emsp;投诉日期：{{ complaint.date|date:"Y-m-d H:i:s" }}</i>
                                </dt>
                            {% endif %}

                            <dd class="box">
                               {{ complaint.content }}
                            </dd>
                            <dd>
                                <button class="stdbtn btn_blue" onclick="yes_({{ complaint.report_id }})">处理</button>
                                <button class="stdbtn btn_red" onclick="no_({{ complaint.report_id }})">不处理</button>
                            </dd>
                        </dl>
                     </li>
                {% endfor %}

            </ul>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script>
        function yes_(id_) {
            jPrompt( "处理内容",'', '处理结果', function (msg) {
               if(msg!=null){
                   window.open('/dispose_complaint/?action=no&id_='+id_+'&note='+msg, target='_self')
               }
            })
        }
        function no_(id_) {
            jPrompt("原因",'', '未处理结果', function (msg) {
               if(msg!=null){
                   window.open('/dispose_complaint/?action=no&id_='+id_+'&note='+msg, target='_self')
               }
            })
        }
    </script>
{% endblock %}
