{% extends 'base/base.html' %}

{% block title %}
    系统角色管理
{% endblock %}

{% block content %}

    <div class="centercontent tables">

        <div class="pageheader notab">
            <h1 class="pagetitle">当前位置：新房源管理</h1>
            <span class="pagedesc">可以对新房源信息进行删除、修改</span>

        </div><!--pageheader-->

        <div style="margin: 10px">
            <div class="contenttitle2">
                <h3>房源信息</h3>
            </div><!--contenttitle-->
            <table cellpadding="0" cellspacing="0" border="0" class="stdtable">
                <thead>
                <tr>
                    <th class="head0">房源ID</th>
                    <th class="head1">所属经纪人</th>
                    <th class="head0">标题</th>
                    <th class="head0">发布日期</th>
                    <th class="head0">开盘日期</th>
                    <th class="head0">所在区域</th>
                    <th class="head0">户型</th>
                    <th class="head0">朝向</th>
                    <th class="head0">小区名称</th>
                    <th class="head0">均价(元/平)</th>
                    <th class="head0">面积(平米)</th>
                    <th class="head0">总价(万)</th>
                    <th class="head0">总楼层</th>
                    <th class="head0">审核状态</th>

                    <th class="head1" style="width: 100px">操作</th>
                </tr>
                </thead>

                <tbody>
                {% for xinfang in xinfangs %}
                    <tr class="gradeA">
                        <td>{{ xinfang.source_id }}</td>
                        <td>{{ xinfang.broker.b_name }}</td>
                        <td>{{ xinfang.title }}</td>
                        <td>{{ xinfang.pub_date }}</td>
                        <td>{{ xinfang.k_time }}</td>
                        <td>{{ xinfang.region }}</td>
                        <td>{{ xinfang.hu_type }}</td>
                        <td>{{ xinfang.face }}</td>
                        <td>{{ xinfang.comm_name }}</td>
                        <td>{{ xinfang.price_s }}</td>
                        <td>{{ xinfang.area }}</td>
                        <td>{{ xinfang.sum_price }}</td>
                        <td>{{ xinfang.floors }}</td>
                        <td>{{ xinfang.ch_state }}</td>



                        <td class="center">
                            <button class="stdbtn" onclick="edit_({{ xinfang.source_id }})">编辑</button>
                            <button class="stdbtn btn_yellow" onclick="delete_({{ xinfang.source_id }}, '{{ xinfang.comm_name }}')">删除</button>
                        </td>
                    </tr>

                {% endfor %}
                <center>
                        <tr>
                            <td colspan="16" style="text-align: center;font-size: 18px;font-weight: bold">
                                <a href="/xinfang_manage/?pagenumber=1">首页</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                {% if xinfangs.has_previous %}
                                    <a href="/xinfang_manage/?pagenumber={{ xinfangs.previous_page_number }}">上一页</a>
                                {% else %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="javascript:alert('已经是首页了！')">上一页</a>
                                {% endif %}

                                {% if xinfangs.has_next %}
                                    <a href="/xinfang_manage/?pagenumber={{ xinfangs.next_page_number }}">下一页</a>
                                {% else %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="javascript:alert('已经是最后一页了！')">下一页</a>
                                {% endif %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="/xinfang_manage/?pagenumber={{ paginator.num_pages }}">末页</a>
                            </td>
                        </tr>
                </center>
                </tbody>
            </table>
{#            <div style="padding: 5px">#}
{#                <button class="stdbtn btn_blue" onclick="window.open('/fangdong_role/', target='_self')">新增</button>#}
{#            </div>#}
        </div>
    </div>

{% endblock %}

{% block js %}
    <script>
        function delete_(xinfang_source_id, xinfang_comm_name) {
            jConfirm('是否确认删除' + xinfang_comm_name + "?", '删除确认', function (event) {
                if (event) {
                    url = '?action=del&xinfang_source_id=' + xinfang_source_id;
                    console.log(url);
                    window.open(url, target = '_self')
                }
            })
        }

        function edit_(xinfang_source_id){
            open('/xinfang_role/?xinfang_source_id='+xinfang_source_id, targt='_self')
        }

    </script>
{% endblock %}