{% extends 'base/base.html' %}

{% block title %}
    首页栏目管理
{% endblock %}

{% block css %}
    <script type="text/javascript" src="/s/js/custom/forms.js"></script>
{% endblock %}

{% block content %}

    <div class="centercontent tables">

        <div class="pageheader notab">
            <h1 class="pagetitle">当前位置：首页轮播图</h1>
            <span class="pagedesc">可以对首页轮播内容进行修改</span>

        </div><!--pageheader-->

        <div id="basicform " style="margin: 10px" class="messagebox">
            <div class="contenttitle2">
                <h3>{% if get_wheel_id %}编辑{% else %}新增{% endif %}首页轮播图</h3>
            </div><!--contenttitle-->

            {% if errors %}
                <ul style="list-style: none;margin: 5px;padding: 5px;">

                    {% for error in errors.values %}
                        <li style="color:red"> <span class="circle-dot-red"></span> {{ error.0.message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <form class="stdform stdform2" method="post" enctype="multipart/form-data">

                <p>
                    <label>标题</label>
                    <span class="field">
                        {% csrf_token %}
                        <input type="text" name="title" class="longinput" value="{% if whe %}{{ whe.title }}{% else %}{{ form.title.value }}{% endif %}"/>
{#                         <input type="hidden" name="wheel_id" value="{{ whe.wheel_id }}">#}
                    </span>
                </p>
               <p>
                    <label>房源信息</label>
                    <span class="field">
                        <input type="text" name="house_detail"  class="longinput" value="{% if whe %}{{ whe.house_detail }}{% else %}{{ form.house_detail.value }}{% endif %}"/>
                    </span>
                </p>

                <p>
                    <label>上传图片</label>

                    {%  if whe %}
                        <img src="/m/{{ whe.img_path }}/" class="rounded" alt="Cinque Terre" width="304" height="236">
                    {% endif %}

                <input type="file" name="img_path" />

                </p>

                <p class="stdformbutton">
                    <button class="btn btn-outline-primary" style="width: 150px;" >提交</button>

                </p>


            </form>

        </div>
    </div>

{% endblock %}

