{% extends 'base/base.html' %}

{% block title %}
    首页栏目管理
{% endblock %}

{% block content %}

    <div class="centercontent tables">

        <div class="pageheader notab">
            <h1 class="pagetitle">当前位置：轮播图</h1>
            <span class="pagedesc">首页轮播图的新增编辑和删除</span>

        </div><!--pageheader-->

        <div style="margin: 10px">
            <div class="contenttitle2">
                <h3>轮播图信息</h3>
            </div><!--contenttitle-->
            <table cellpadding="0" cellspacing="0" border="0" class="stdtable">
                <thead>
                <tr>
                    <th class="head0">ID</th>
                    <th class="head1">标题</th>
                    <th class="head1">房源信息</th>
                    <th class="head0">图片地址</th>


                    <th class="head1" style="width: 100px">操作</th>
                </tr>
                </thead>

                <tbody>
                {% for role in wheels %}
                    <tr class="gradeA">
                        <td>{{ role.wheel_id }}</td>
                        <td>{{ role.title }}</td>
                        <td>{{ role.house_detail }}</td>
                        <td>{{ role.img_path }}</td>

                        <td class="center">
                            <button class="stdbtn" onclick="edit_({{ role.wheel_id }})">编辑</button>
                            <button class="stdbtn btn_yellow" onclick="delete_({{ role.wheel_id }}, '{{ role.title }}')">删除</button>
                        </td>
                    </tr>

                {% endfor %}
                <center>
                        <tr>
                            <td colspan="16" style="text-align: center;font-size: 18px;font-weight: bold">
                                <a href="/home_wheel/?pagenumber=1">首页</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                {% if wheels.has_previous %}
                                    <a href="/home_wheel/?pagenumber={{ wheels.previous_page_number }}">上一页</a>
                                {% else %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="javascript:alert('已经是首页了！')">上一页</a>
                                {% endif %}

                                {% if wheels.has_next %}
                                    <a href="/home_wheel/?pagenumber={{ wheels.next_page_number }}">下一页</a>
                                {% else %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="javascript:alert('已经是最后一页了！')">下一页</a>
                                {% endif %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="/home_wheel/?pagenumber={{ wheels.num_pages }}">末页</a>
                            </td>
                        </tr>
                </center>
                </tbody>
            </table>
            <div style="padding: 5px">
                <button class="stdbtn btn_blue" onclick="window.open('/wheel_detail/', target='_self')">新增</button>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script>
        function delete_(get_wheel_id, get_wheel_title) {
            jConfirm('是否确认删除' + get_wheel_title + "?", '删除确认', function (event) {
                if (event) {
                    url = '?action=del&get_wheel_id=' + get_wheel_id;
                    console.log(url);
                    window.open(url, target = '_self')
                }
            })
        }

        function edit_(get_wheel_id){
            open('/wheel_detail/?get_wheel_id='+get_wheel_id, target='_self')
        }

    </script>
{% endblock %}